<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理者ログイン</title>
</head>
<body>
    <h1>管理者ログイン</h1>

    <form th:action="@{/admin/signin}" th:object="${adminForm}" method="post">
        <div>
            <label>メールアドレス：</label>
            <input type="email" th:field="*{email}" />
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div>
            <label>パスワード：</label>
            <input type="password" th:field="*{password}" />
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div>
            <button type="submit">ログイン</button>
        </div>
    </form>
</body>
</html>