<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>管理者ログイン</title>
</head>

<body>
	<h1>管理者ログイン</h1>

	<form method="post" action="/admin/signin">
	  <input type="hidden"
	         th:name="${_csrf.parameterName}"
	         th:value="${_csrf.token}"/>

	  <div>
	    <label>メールアドレス：</label>
	    <input type="email" name="email" required>
	  </div>

	  <div>
	    <label>パスワード：</label>
	    <input type="password" name="password" required>
	  </div>

	  <button type="submit">ログイン</button>

	  <div th:if="${param.error}" style="color:red">
	      メールアドレスまたはパスワードが違います
	  </div>
	  <div th:if="${param.logout}" style="color:green">
	      ログアウトしました
	  </div>
	</form>
</body>

</html>